pkgbase = dsh-desktop-bin
	pkgdesc = Local-first desktop app for DeepSeek Harness
	pkgver = 0.7.1.linux.2
	pkgrel = 1
	url = https://github.com/sbmthakur/dsh-desktop
	arch = x86_64
	license = MIT
	license = LGPL-3.0-or-later
	license = LicenseRef-Chromium
	license = LicenseRef-third-party-notices
	makedepends = imagemagick
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = mesa
	depends = systemd-libs
	optdepends = openssh: Pinggy fallback tunnel when Cloudflare is unreachable
	optdepends = cloudflared: use a system tunnel binary instead of downloading one at runtime
	optdepends = libnotify: desktop notifications
	provides = dsh-desktop=0.7.1.linux.2
	conflicts = dsh-desktop
	options = !strip
	options = !debug
	source = dsh-desktop-0.7.1.linux.2.tar.gz::https://github.com/sbmthakur/dsh-desktop/releases/download/v0.7.1-linux.2/dsh-desktop-linux-x64.tar.gz
	source = dsh-desktop.desktop
	sha256sums = 2b9e7c7be6109fb15860f12f9de820c2bed3de575303d32063fc783978599830
	sha256sums = e5d5093cae55bff904322f93bc9d51a6cb6456e21d10b76346d39402face9092

pkgname = dsh-desktop-bin
